

<!-- gallery
https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery -->
<!DOCTYPE html>
 <html>
 <head>
 <style>
 div.gallery {
   margin: 5px;
   border: 1px solid #ccc;
 
   width: 400px;height: 400px;
 }
 
 div.gallery:hover {
   border: 1px solid #777;
 }
 
 div.gallery img {
   width: 100%;
   height: 300px;;
 }
 
 div.desc {
   padding: 15px;
   text-align: center;
 }
 </style>
 </head>
 <body> <%- include('include/_header') %>
 <div>
 <div class="gallery">
   <a target="_blank" href="https://cdn.pixabay.com/photo/2015/07/11/19/23/book-841171__340.jpg">
     <img src="https://cdn.pixabay.com/photo/2015/07/11/19/23/book-841171__340.jpg" alt="Cinque Terre" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div>
 
 <div class="gallery">
   <a target="_blank" href="https://pixabay.com/photos/girls-students-asian-glasses-1741925/">
     <img src="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg" alt="Forest" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div>
 
 <div class="gallery">
   <a target="_blank" href="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg">
     <img src="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg" alt="Northern Lights" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div>
 
 <div class="gallery">
   <a target="_blank" href="https://cdn.pixabay.com/photo/2012/02/23/08/36/beautiful-15704__340.jpg">
     <img src="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg" alt="Mountains" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div></div>
 
 <div class="gallery">
   <a target="_blank" href="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg">
     <img src="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg" alt="Northern Lights" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div>
 
 <div class="gallery">
   <a target="_blank" href="https://cdn.pixabay.com/photo/2012/02/23/08/36/beautiful-15704__340.jpg">
     <img src="https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028__340.jpg" alt="Mountains" width="600" height="400">
   </a>
   <div class="desc">Add a description of the image here</div>
 </div></div>
 <div></div> <hr>
 <%- include('include/_footer') %>





  <!-- grid gallery
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive -->
<!-- 
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<body>

<div class="header">
  <h1>Responsive Image Grid</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="row"> 
  <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img src="w3images/falls2.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img src="w3images/falls2.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
  </div>
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/falls2.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div> 
</div> -->

</body>
</html> 

 